<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAnaly-v1 Mockup</title>
    <link rel="stylesheet" href="/static/hello.css">
</head>
<body>
    <h1 class="header">StockAnaly-v1 Mockup</h1>
    <table border="1",bordercolor = "#009900">
        <tr>
            <th>更新時刻</th>
            <th>証券コード</th>
            <th>銘柄名</th>
            <th>株価</th>
            <th>編集</th>
        </tr>
        <tr>
            <th>{{a}}</th>
            <th>{{b}}</th>
            <th>{{c}}</th>
            <th>{{d}}</th>
            <th>＊</th>
        </tr>
</body>
</html>